div.video-js-box {
    margin-top: 12px;
}

div#comments {
    position: absolute;
    top: 0px;
    left: 512px;
    margin-top: 12px;
}

span.timestamp {
    color: blue;
    cursor: pointer;
}

span.timestamp:hover {
    text-decoration: underline;
}

textarea#comment-text {
    width: 480px;
    max-width: 480px;
    min-width: 480px;
    height: 64px;
    min-height: 24px;
}
