p, li, span {
    font-family: Helvetica, Arial;
}

div.video-js-box {
    margin-top: 12px;
}

div#comments {
    position: absolute;
    top: 0px;
    left: 512px;
    margin-top: 12px;
}

span.timestamp {
    color: blue;
    cursor: pointer;
}

span.timestamp:hover {
    text-decoration: underline;
}

textarea#comment-text {
    width: 480px;
    max-width: 480px;
    min-width: 480px;
    height: 64px;
    min-height: 24px;
}

ul#master li {
    padding: 15px;
    margin: 5px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.comment-reply {
    font-size: 10px;
    color: blue;
    cursor: pointer;
    position: absolute;
    right: 7px;
    bottom: 7px;
}

.comment-reply:hover {
    text-decoration: underline;
}
