p, li, span {
    font-family: Helvetica, Arial;
}

div.video-js-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

span.timestamp {
    color: blue;
    cursor: pointer;
}

span.timestamp:hover {
    text-decoration: underline;
}
